 <div ...attributes>
  <div class='mb-4'>
    <strong>{{@scripture.verse}}</strong>
    {{#if @scripture.footnote}}
      <span
        class='font-mono text-xs align-text-top'
      >[{{@scripture.footnote}}]</span>
    {{/if}}
  </div>

  {{#if this.fastboot.isFastBoot}}
    <div role="status" class="max-w-sm animate-pulse">
      <div class="h-4 bg-gray-300 rounded-full max-w-[360px] mb-2.5"></div>
      <div class="h-4 bg-gray-300 rounded-full mb-2.5"></div>
      <div class="h-4 bg-gray-300 rounded-full max-w-[330px] mb-2.5"></div>
      <div class="h-4 bg-gray-300 rounded-full max-w-[300px] mb-2.5"></div>
      <span class="sr-only">Loading...</span>
    </div>
  {{else}}
    {{(this.htmlSafe (if this.text this.text ""))}}
  {{/if}}
</div>