<div class='h-full space-y-4 flex flex-col justify-center bg-white text-cyan-800' ...attributes>
  <h1 class='font-bold text-xl pb-4 border-b-2 border-cyan-800 mb-8'>
    Available catechisms
  </h1>
  <ul class='flex-col space-y-8'>
    {{#each-in this.catechisms as |id title|}}
      <li class="block my-2">
        <LinkTo
          @route='catechism'
          @model={{id}}
          class='py-2 px-6 border-2 border-cyan-800 bg-transparent text-cyan-800 font-bold whitespace-nowrap'
          data-catechism-link
          {{on 'click' (fn this.trackLink id)}}
        >
          {{title}}
        </LinkTo>
      </li>
    {{/each-in}}
  </ul>
</div>