<ol>
  {{#each @data as |item|}}
    <li class="border p-6 group">
      <LinkTo
        @route='catechism.question'
        @model={{item.number}}
        class="pb-1 group-hover:border-b-2 border-cyan-600"
        data-question-link
      >
        {{item.number}}. {{item.question}}
      </LinkTo>
    </li>
  {{/each}}
</ol>