<div class='bg-cyan-800 text-white' ...attributes>
  <div class='space-y-4'>
    <h2 class='font-bold text-xl mb-6'>Welcome to <em>Catechesis</em></h2>
    <p class='text-xl max-w-prose'>This open-source app is designed to help you
      catechize yourself, your family, and your church by engaging with several
      catechisms that have stood the test of time throughout the church age.</p>
    <p class='text-lg'><em>May God be glorified as you enjoy him through
        catechesis.</em></p>
  </div>

  <div class='mt-8'>
    <h2 class='font-bold text-lg mb-6'>What is catechesis?</h2>
    <blockquote
      class='space-y-4 max-w-prose text-md px-8 border-l-8 border-cyan-700'
    >
      <p>It's every Christian's calling to continue learning, growing, and
        striving to know the truths taught in the Bible.
        <em>Catechesis</em>
        — from a Greek word meaning "instruction by mouth"— is a historic
        teaching method of giving Christians the language with which to
        articulate the basic tenets of faith — narrowing in on what the Bible
        says, and what it doesn't say.</p>

      <p>In a question and answer format, catechisms pose an inquiry and then
        supply a theologically-packed response drawn from Scripture.</p>

      <cite class='block'>J.I. Packer</cite>
    </blockquote>
  </div>
</div>