<h2 class='sr-only'>Commentary</h2>

<ol class='space-y-6'>
  {{#each @model as |commentary|}}
    <li class='max-w-prose text-xl space-y-4 md:px-12'>
      <strong>{{commentary.author}}</strong>
      {{(this.htmlSafe commentary.body)}}
    </li>
  {{else}}
    No commentaries added yet.
  {{/each}}
</ol>