<h2 class='text-lg font-bold mb-4'>Commentary</h2>

<ol class='space-y-6'>
  {{#each @model as |commentary|}}
    <li>
      <strong class='text-md'>{{commentary.author}}</strong>
      <p class='max-w-prose text-xl mt-2'>{{commentary.body}}</p>
    </li>
  {{else}}
    No commentaries added yet.
  {{/each}}
</ol>