<h2 class="text-lg font-bold mb-4">Commentary</h2>

<div class="space-y-4 text-lg max-w-prose">
  <p>Commentary will go here</p>

  <p>And some more commentary and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary</p>

  <p> and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary and some more commentary</p>
</div>
