<h2 class='sr-only'>Scripture</h2>

<ol class="space-y-6 md:px-12">
  {{#each @model as |scripture|}}
    <li class="max-w-prose space-y-2">
      <ScriptureVerse @scripture={{scripture}} class="text-xl" />
    </li>
  {{else}}
    No verses added yet.
  {{/each}}
</ol>