<h2 class='sr-only'>Scripture</h2>

<ol class="space-y-6 md:px-12">
  {{#each @model as |scripture|}}
    <li class="max-w-prose text-xl space-y-2">
      <strong class="block mb-4">{{scripture.verse}}</strong>
      {{#if scripture.footnote}}
        <span class="font-mono text-xs align-text-top">[{{scripture.footnote}}]</span>
      {{/if}}
      {{(this.htmlSafe scripture.text)}}
    </li>
  {{else}}
    No verses added yet.
  {{/each}}
</ol>