<div class='h-full max-h-full flex flex-col'>
  <div class="min-h-0 flex grow">
    <section class="w-1/3 h-full border-r border-black flex flex-col justify-center">
      <CatechismInfo @metadata={{@model.metadata}} />
    </section>
    <section class="w-2/3 h-full overflow-y-scroll">
      <QuestionList @data={{@model.data}} />
    </section>
  </div>
</div>