@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

.cathedral {
  position: relative;
}

.cathedral:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url('/assets/images/cathedral.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
